<div class="end">
    <div class="cir">
        <div class="outer-circle">
            <div class="inner-circle">
                <img src="/assets/Ellipse 101.png" alt="">
            </div>
        </div>
    </div>
    <div class="lwt">
        <img src="/assets/image 254.png" alt="" style="margin-left: 85px;margin-top: 20px;">
        <h1 class="hl">Let’s work together</h1>
        <button class="sep">info&#64;gmail.com</button>

    </div>
    <div class="cp">
        <div class="cp1">
            <p>&#64;copyright</p>
        </div>
        <div class="cp2">
                <div class="icon1">
                    <img src="\assets\image 230.png" alt="">
                </div>
                <div class="icon1">
                    <img src="\assets\image 231.png" alt="">
                </div>
                <div class="icon1">
                    <img src="\assets\image 232.png" alt="">
                </div>
                <div class="icon1">
                    <img src="\assets\image 233.png" alt="">
                </div>
        </div>
    </div>
</div>