<div class="bo">
    <div class="header">
        <h1 class="name">Sanjay Lalam</h1>
        <ul class="items">
            <li routerLink="/home">Home</li>
            <li routerLink="/about" routerLinkActive="active">About</li>
            <li routerLink="/work" routerLinkActive="active">Work</li>
            <li routerLink="/contact" routerLinkActive="active">Contact</li>
        </ul>
    </div>
    <h1 class="h1">Who’s the master mind ?</h1>
    <div class="as">
        <div class="abs">
            <div class="abs1">
                <div class="im">
                    <div class="im1">
                        <img src="/assets/Rectangle 298.png" alt="">
                        <button class="but1">Get a call now</button>
                    </div>
                </div>
            </div>
            <div class="abs2">
                <h2 class="hb">Sanjay Lalam</h2>
                <p class="p1">Hi, I'm Sanjay Lalam, a dedicated Figma designer with a passion for creating visually
                    stunning and user-friendly interfaces. With expertise in wireframing, prototyping, and responsive
                    design, I excel at transforming complex ideas into intuitive digital experiences. My design
                    philosophy centers around a user-centric approach, ensuring that every project balances aesthetics
                    with functionality. Collaborating closely with developers and stakeholders, I am committed to
                    delivering innovative and effective design solutions that meet user needs and exceed expectations.
                </p>
            </div>
        </div>
        <div class="pcp">
            <div class="pcp1">
                <h3 class="hh">PROJECTS COMPLETED</h3>
                <h1 style="color: aliceblue;text-align: center;">5</h1>
            </div>
            <div class="j"></div>
            <div class="pcp1">
                <h3 class="hh">CLIENTS CONTACTED</h3>
                <h1 style="color: aliceblue;text-align: center;">5</h1>
            </div>
            <div class="j"></div>
            <div class="pcp1">
                <h3 class="hh">PUBLISHED</h3>
                <h1 style="color: aliceblue; text-align: center;">5</h1>
            </div>
        </div>
    </div>
<app-services></app-services>
<app-projects></app-projects>
<app-history></app-history>
<app-end></app-end>
</div>