<div class="card">
    <div class="card1">
        <h1 class="h1">What Client says</h1>
        <p class="p1">"His Designs are pure magic! Each product tells a unique story, blending creativity and functionality seamlessly. A true Designer visionary! If you want an extra touch in your product then choose him today!</p>
        <div class="dottedline"></div>
        <div class="abr">
            <div class="abr1">
                <h4 class="h4">Rakesh</h4>
                <h4 class="h5">Founder & CEO at VanCutz</h4>
            </div>
            <div class="abr2">
                <img src="\assets\image 229.png" alt="">
            </div>
        </div>
    </div>
    <div class="card2">
        <h1 class="h2">Core software I use</h1>
        <img src="\assets\f2.png" alt="" height="206px" width="399px" style="margin-top: 28.5px;margin-left: -20px;">

       
        
    </div>
    <div class="card3">
        <div class="icons">
            <div class="icon1">
                <img src="\assets\image 230.png" alt="">
            </div>
            <div class="icon1">
                <img src="\assets\image 231.png" alt="">
            </div>
            <div class="icon1">
                <img src="\assets\image 232.png" alt="">
            </div>
            <div class="icon1">
                <img src="\assets\image 233.png" alt="">
            </div>
        </div>
        <div class="next">
            <h1 class="h">5+</h1>
            <div class="vert">
                <!-- <div class="verticalline"></div> -->
                <div class="vert1">
                    <H4>REAL TIME</H4>
                    <H4>PROJECTS</H4>
                </div>
            </div>
        </div>
    </div>
</div>
