<div class="body">
    <div class="header">
        <h1 class="name">Sanjay Lalam</h1>
        <ul class="items">
            <li routerLink="/home">Home</li>
            <li routerLink="/about" routerLinkActive="active">About</li>
            <li routerLink="/work" routerLinkActive="active">Work</li>
            <li routerLink="/contact" routerLinkActive="active">Contact</li>
        </ul>
    </div>
    <div class="wdmp">
        <div class="wdmp1">
            <h1>Where</h1>
            <h1>Design</h1>
            <h1>meets Perfection</h1>
            <button class="book" routerLink="/contact" routerLinkActive="active" >Book a call now</button>
        </div>
        <div class="wdmp2">
            <img src="\assets\Frame 26.png" alt="">
        </div>
        <div class="wdmp3">

        </div>
        <div class="wdmp4">
            <img src="\assets\Frame 28.png" alt="">
        </div>
    </div>
    <app-header2></app-header2>
    <app-services></app-services>
    <app-projects></app-projects>
    <app-history></app-history>
    <app-end></app-end>

</div>