<div class="projects">
    <h1 class="hp">Projects showcase</h1>
    <div class="pr">
        <div class="pr1">
            <div class="dev">
                <div class="dev1">
                    <button class="but">DEVELOPMENT</button>
                </div>
                <div class="dev2">
                    <div class="ar">
                        <img src="/assets/Arrow 18.png" alt="">
                    </div>
                </div>
            </div>
            <h4 class="hc">Health care</h4>
            <img src="/assets/Rectangle 315.png" alt="" style="height: 445px;width: 513px;  margin-left: 30px;">
        </div>
        <div class="pr2">
            <div class="dev">
                <div class="dev1">
                    <button class="but">MARKETING</button>
                </div>
                <div class="dev2">
                    <div class="ar1">
                        <img src="/assets/Arrow 18.png" alt="">
                    </div>
                </div>
            </div>
            <h4 class="hc">VanCutZ</h4>
            <img src="/assets/Rectangle 315.png" alt="" style="height: 445px;width: 513px;  margin-left: 30px;">
        </div>
    </div>
    <button class="sep" routerLink="/work">See all projects</button>
</div>
<img src="/assets/image 253.png" alt="" style="margin-left: 710px; margin-top: 50px;">
