<div class="history">
    <h1 class="hp">History of work</h1>
    <div class="how">
        <div class="sr">
            <div class="sr1">
                <h3 class="sn">20__/Now</h3>
            </div>
            <div class="j"></div>
            <div class="sr2">
                <h2 class="ss">Senior</h2>
                <p class="ps">I developed responsive and collaborate with developers to create visually appealing and functional web applications</p>
            </div>
        </div>
        <div class="sr">
            <div class="sr1">
                <h3 class="sn">20__/20__</h3>
            </div>
            <div class="j"></div>
            <div class="sr2">
                <h2 class="ss">Junior</h2>
                <p class="ps">I developed responsive and collaborate with developers to create visually appealing and functional web applications</p>
            </div>
        </div>
        <div class="sr">
            <div class="sr1">
                <h3 class="sn">20__/20__</h3>
            </div>
            <div class="j"></div>
            <div class="sr2">
                <h2 class="ss">Senior</h2>
                <p class="ps">I developed responsive and collaborate with developers to create visually appealing and functional web applications</p>
            </div>
        </div>
        <div class="sr">
            <div class="sr1">
                <h3 class="sn">20__/20__</h3>
            </div>
            <div class="j"></div>
            <div class="sr2">
                <h2 class="ss">Junior</h2>
                <p class="ps">I developed responsive and collaborate with developers to create visually appealing and functional web applications</p>
            </div>
        </div>
    </div>
</div>