<div class="cont">
    <div class="header">
        <h1 class="name">Sanjay Lalam</h1>
        <ul class="items">
            <li routerLink="/home">Home</li>
            <li routerLink="/about" routerLinkActive="active">About</li>
            <li routerLink="/work" routerLinkActive="active">Work</li>
            <li routerLink="/contact" routerLinkActive="active">Contact</li>
        </ul>
    </div>
    <h1 class="h1">Contact Us</h1>
    <div class="form">
        <div class="form1">
            <div class="for1">
                <h1 class="pname">Address</h1>
                <p class="p">8, New No 15, </p>
                <p class="p">Big Street, Triplicane</p>
                <p class="p"> Chennai, Tamil Nadu,</p>
                <p class="p"> 600005</p>
                <div class="j"></div>
                <h1 class="pname">Call us</h1>
                <p class="p">+91 9182890907</p>
                <p class="p">+91 9182890907</p>
                <div class="j"></div>
                <h1 class="pname">Got a Question?</h1>
                <div class="p">Drop us an email and we’ll be in touch asap.</div>
                <div class="p1">info&#64;gmail.com</div>
                <div class="j"></div>
                <div class="pname">Follow Us</div>
                <div class="icons">
                    <div class="icon1">
                        <img src="\assets\image 230.png" alt="">
                    </div>
                    <div class="icon1">
                        <img src="\assets\image 231.png" alt="">
                    </div>
                    <div class="icon1">
                        <img src="\assets\image 232.png" alt="">
                    </div>
                    <div class="icon1">
                        <img src="\assets\image 233.png" alt="">
                    </div>
                </div>
            </div>
            


        </div>
        <div class="for2">
            <h1 class="pname">Fill the form below</h1>
            <p class="p">We will repsond  you with in next 24hrs</p>
            <form action="#" method="post">
                <div class="form-group">
                    <input type="text" name="first-name" placeholder="First name*" required>
                    <input type="text" name="last-name" placeholder="Last name*" required>
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Enter your e-mail*" required>
                </div>
                <div class="form-group">
                    <textarea name="message" placeholder="Type your message*" required></textarea>
                </div>
                <button type="submit">Submit now</button>
            </form>
        </div>
    </div>
    <app-end></app-end>
</div>
