<div class="wor">
    <div class="header">
        <h1 class="name">Sanjay Lalam</h1>
        <ul class="items">
            <li routerLink="/home">Home</li>
            <li routerLink="/about" routerLinkActive="active">About</li>
            <li routerLink="/work" routerLinkActive="active">Work</li>
            <li routerLink="/contact" routerLinkActive="active">Contact</li>
        </ul>
    </div>
    <h1 class="h1">Projects I completed</h1>
    <div class="prbut">
        <button class="sep">All projects</button>
        <button class="sep">Development</button>
        <button class="sep">Marketing</button>
        <button class="sep">Creative</button>
    </div>
    <div class="pr">
        <div class="pr1">
            <div class="dev">
                <div class="dev1">
                    <button class="but">DEVELOPMENT</button>
                </div>
                <div class="dev2">
                    <div class="ar">
                        <img src="/assets/Arrow 18.png" alt="">
                    </div>
                </div>
            </div>
            <h4 class="hc">Health care</h4>
            <img src="/assets/Rectangle 315.png" alt="" style="height: 445px;width: 513px;  margin-left: 30px;">
        </div>
        <div class="pr2">
            <div class="dev">
                <div class="dev1">
                    <button class="but">MARKETING</button>
                </div>
                <div class="dev2">
                    <div class="ar1">
                        <img src="/assets/Arrow 18.png" alt="">
                    </div>
                </div>
            </div>
            <h4 class="hc">VanCutZ</h4>
            <img src="/assets/Rectangle 315.png" alt="" style="height: 445px;width: 513px;  margin-left: 30px;">
        </div>
    </div>
    <div class="pr">
        <div class="pr1">
            <div class="dev">
                <div class="dev1">
                    <button class="but">DEVELOPMENT</button>
                </div>
                <div class="dev2">
                    <div class="ar">
                        <img src="/assets/Arrow 18.png" alt="">
                    </div>
                </div>
            </div>
            <h4 class="hc">Health care</h4>
            <img src="/assets/Rectangle 315.png" alt="" style="height: 445px;width: 513px;  margin-left: 30px;">
        </div>
        <div class="pr2">
            <div class="dev">
                <div class="dev1">
                    <button class="but">MARKETING</button>
                </div>
                <div class="dev2">
                    <div class="ar1">
                        <img src="/assets/Arrow 18.png" alt="">
                    </div>
                </div>
            </div>
            <h4 class="hc">VanCutZ</h4>
            <img src="/assets/Rectangle 315.png" alt="" style="height: 445px;width: 513px;  margin-left: 30px;">
        </div>
    </div>
    <div class="pr">
        <div class="pr1">
            <div class="dev">
                <div class="dev1">
                    <button class="but">DEVELOPMENT</button>
                </div>
                <div class="dev2">
                    <div class="ar">
                        <img src="/assets/Arrow 18.png" alt="">
                    </div>
                </div>
            </div>
            <h4 class="hc">Health care</h4>
            <img src="/assets/Rectangle 315.png" alt="" style="height: 445px;width: 513px;  margin-left: 30px;">
        </div>
        <div class="pr2">
            <div class="dev">
                <div class="dev1">
                    <button class="but">MARKETING</button>
                </div>
                <div class="dev2">
                    <div class="ar1">
                        <img src="/assets/Arrow 18.png" alt="">
                    </div>
                </div>
            </div>
            <h4 class="hc">VanCutZ</h4>
            <img src="/assets/Rectangle 315.png" alt="" style="height: 445px;width: 513px;  margin-left: 30px;">
        </div>
    </div>
    <app-end></app-end>
</div>