.h5{
    font-family: Sora;
font-size: 16px;
font-weight: 700;
line-height: 20.16px;
text-align: center;
color: #FFFFFF;

}
.h1{
    font-family: Sora;
font-size: 48px;
font-weight: 600;
line-height: 60.48px;
text-align: center;
color: #FFFFFF;

}
.serv{
    display: flex;
    gap: 75px;
    margin-left: 119px;
    margin-right: 0px;
    margin-top: 50px;
    
    
}
.serv1,.serv2,.serv3{
    width: 370px;
height: 236px;
top: 1159px;
left: 119px;
gap: 0px;
border-radius: 20px 20px 20px 20px;
opacity: 0px;
background: #282828;
justify-content: center;
padding: 20px;

}
.h2{
    font-family: Sora;
font-size: 27px;
font-weight: 600;
line-height: 34.02px;
text-align: left;
color: #FFFFFF;
margin-top: 20px;
}
.p{
    font-family: Sora;
font-size: 16px;
font-weight: 400;
line-height: 20.16px;
text-align: left;
color: #C7B3B3;
word-wrap: break-word;
white-space: normal;
}
.lm{
    display: flex;
    gap: 20px;
}
.h6{
    color: #FFFFFF;

}
