<div class="services">
    <h5 class="h5">SERVICES SECTION</h5>
    <h1 class="h1">Check my services</h1>
    <div class="serv">
        <div class="serv1">
            <img src="\assets\image 235.png" alt="" height="40px"width="40px">
            <h1 class="h2">Web Development</h1>
            <p class="p">Developing innovative projects and translating them into compelling concepts that resonate with users</p>
            <div class="lm">
                <h6 class="h6">Learn More</h6>
                <img src="\assets\Arrow 15.png" alt="" height="10px" width="10px" style="margin-top: 5px;">
            </div>
        </div>
        <div class="serv2">
            <img src="\assets\image 234.png" alt="" height="40px"width="40px" class="ic">
            <h1 class="h2">Web Development</h1>
            <p class="p">Developing innovative projects and translating them into compelling concepts that resonate with users</p>
            <div class="lm">
                <h6 class="h6">Learn More</h6>
                <img src="\assets\Arrow 15.png" alt="" height="10px" width="10px" style="margin-top: 5px;">
            </div>
        </div>
        <div class="serv3">
            <img src="\assets\image 236.png" alt="" height="40px"width="40px">
            <h1 class="h2">Web Development</h1>
            <p class="p">Developing innovative projects and translating them into compelling concepts that resonate with users</p>
            <div class="lm">
                <h6 class="h6">Learn More</h6>
                <img src="\assets\Arrow 15.png" alt="" height="10px" width="10px" style="margin-top: 5px;">
            </div>
        </div>
    </div>
</div>